# Este es un flujo de trabajo basado en la plantilla enviada
# pero adaptado a todos los requerimientos solicitados

name: Integración y entrega continua

# Controla cuándo se ejecuta el flujo
on:
  # Debe activarse cuando haya un push en la rama main
  push:
    branches: [ "main" ]

  # Permite ejecutarlo manualmente desde Actions
  workflow_dispatch:

# Un flujo de trabajo contiene uno o más jobs
jobs:
  unico-job:
    # Tipo de sistema operativo
    runs-on: ubuntu-latest

    # Variables de entorno solicitadas
    env:
      nombres: "Erick Manuel"
      apellidos: "Ruiz Guerra"
      edad: "21"
      version_proyecto: "3.0"

    # Secuencia de steps
    steps:
      # Necesario para que el repositorio sea accesible
      - uses: actions/checkout@v4

      # Step 1: presentación
      - name: presentación
        run: |
          echo "Nombres: $nombres"
          echo "Apellidos: $apellidos"
          echo "Edad: $edad"

      # Step 2: datos generales
      - name: datos generales
        run: echo "carrera de ingeniería de sistemas"

      # Step 3: variables secretas
      - name: variables de entorno secretas
        env:
          user: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
        run: |
          echo "user: $user"
          echo "password: $password"

      # Step 4: variables abiertas
      - name: variables abiertas
        run: |
          echo "Versión del proyecto: $version_proyecto"
